.variables {
    .col3();

    .variable {
        .row2();
        grid-template-columns: 1fr 4fr;
        .roundedcard();

        .variablename {
            .Ubuntu(bolder, small);
            padding-bottom: 4px;
            grid-column: span 2;
            text-align: center;
            align-self: center;
        }

        .value {
            text-align: center;
            align-self: center;
            .Ubuntu(medium, small);
        }

        select,
        option {
            .Ubuntu(medium, small);
        }
    }
}

.traits {

    .trait {
        grid-template-columns: 1fr 4fr;
        .roundedcard();

        .title {
            font-weight: bold;
        }
    }
}

.spells,
.skills,
.reactions,
.primaries,
.defences,
.checks {
    .col3();

    .spell,
    .skill,
    .reaction,
    .primary,
    .defence,
    .check {
        .roundedcard();
        .Ubuntu(bolder, smaller);
    }
}

.spellmods,
.skillmods,
.primarymods,
.defencemods,
.checkmods,
.attackmods {
    .col3();
}

.attacks {
    .col2();

    .attack {
        .col2();
        .roundedcard();

        .attackname {
            grid-area: ~"1/1/2/3";
            .Ubuntu(bolder);
            padding-bottom: 4px;
        }

        .skill {
            grid-area: ~"2/1/3/2";
            .Ubuntu(bolder, smaller);
        }

        .damage {
            grid-area: ~"2/2/3/3";
            .Ubuntu(bolder, smaller);
        }
    }

    .melee {
        border-color: @melee-colour;
    }

    .ranged {
        border-color: @ranged-colour;
    }
}

.tracked {
    display: grid;
    grid-template-columns: repeat(5, auto);

    .trackedpool {
        display: grid;
        min-height: 60px;
        justify-items: center;
        align-items: center;
        padding: 5px;
        border: 2px solid darkgoldenrod;
        border-radius: 5px;
        margin: 2px;
    }

    .abbr {
        font-weight: bold;
        padding-bottom: 4px;
    }

    .valuelabel {
        grid-area: ~"1/2/2/3";
        font-size: smaller;
    }

    .value {
        grid-area: ~"2/2/4/3";
        height: 80%;
        width: 36px;
        text-align: center;
    }

    .maxlabel {
        grid-area: ~"1/3/2/4";
        font-size: smaller;
    }

    .max {
        grid-area: ~"2/3/4/4";
    }
}