.combat-sidebar {
  li.combatant.defeated {
    color: #e0736e;
    background-color: rgba(128, 0, 0, 0.8);
  }

  .combatant {
    display: grid;
    grid-template-columns: 48px 1fr 48px;

    .token-name {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;

      .namerow {
        display: grid;
        grid-template-columns: 1fr;
        line-height: 30px;
        align-items: center;

        .name {
          text-align: left;
          max-height: 24px;
          overflow: hidden;
          color: #ff8f8f;
        }

        .name.ready {
          color: #8fbc8f;
        }
      }

      .combatant-controls {
        text-align: center;

        .actions,
        .shotCost {
          color: silver;
          height: 20px;
          max-width: 28px;
          border: none;
          background-color: #800;
          text-align: center;
        }
      }
    }

    .token-initiative {
      .initiative {
        color: silver;
        height: 20px;
        border: none;
        background-color: #800;
        text-align: center;
      }
    }
  }
}