.modifier {
    .roundedcard();
    border-color: black;
}

.global-modifier {
    .roundedcard();
    border-color: black;
    background-color: rgba(255, 127, 80, 0.25);
}

.inEffect {
    background-color: #88cc88;
}

.mnm {
    .modifier {
        .roundedcard();
        background-color: #494b;
        border-color: black;
    }

    .modifier.inEffect {
        background-color: #88cc88;
    }

    .global-modifier {
        .roundedcard();
        border-color: black;
        background-color: #494b;
    }
}