.gurps-header,
.palladium-header,
.d100-header,
.mnm-header,
.vsd-header {
  .Ubuntu(normal, small);
  display: grid;
  grid-auto-rows: auto;
  background-color: @main-colour;
  border-radius: 5px;


  .sectionheader {
    .roundedheader();

    .actorname {
      .smallinput();
    }

  }

  .content {
    .layout {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 75px 1fr;

      .portrait {
        display: grid;
        grid-row: span 3;
        border: none;
      }

      .toprow {
        display: grid;
        grid-template-columns: 20% 18% 20% 12% 10% 10% 10%;
      }

      .midrow {
        display: grid;
        grid-template-columns: 40% 18% 20% 22%;
      }

      .bottomrow {
        display: grid;
        grid-template-columns: 24% 18% 16% 20% 22%;
      }

      .headinfo {
        .roundedheader();
        margin: 1px;

        .rollable:hover {
          background-color: @main-colour;
          color: @text-alt-colour;
        }
      }

      .triple,
      .double,
      .single {
        align-items: baseline;

        .value {
          .smallinput();
        }

        .valuefull {
          .smallinput();
          text-align: left;
          width: 100%;
        }
      }

      .triple {
        .col3();
      }

      .double {
        display: grid;
        grid-template-columns: auto 1fr;
      }

      .move,
      .declaration {
        .value {
          .smallselect();
        }
      }
    }
  }

  nav.sheet-nav {
    padding: 2px;
    border-top: 4px solid @text-alt-colour;

    .tabtitle {
      .roundedheader();
      color: @text-alt-colour;
    }

    .active {
      background-color: @main-colour;
      border-color: @alt-colour;
    }
  }
}

.mnm-header {
  background-color: darkgoldenrod;

  nav.sheet-nav {

    .tabtitle {
      color: white;
      background-color: dimgray;
    }

    .active {
      background-color: cornflowerblue;
    }
  }
}

.gurps-header,
.mnm-header,
.palladium-header {
  .content {
    .layout {
      .toprow {
        display: grid;
        grid-template-columns: 20% 32% 48%;
      }
      .toprow.d6 {
        grid-template-columns: 1fr 3fr;
      }

      .midrow {
        display: grid;
        grid-template-columns: 28% 12% 12% 16% 20% 12%;
      }

      .midrow.bbf {
        grid-template-columns: 68% 20% 12%;
      }
      .midrow.d6 {
        grid-template-columns: 6fr 1fr 1fr;
      }

      .bottomrow {
        display: grid;
        grid-template-columns: 94% 6%;
      }
      .bottomrow.d6 {
        grid-template-columns: 15fr 1fr;
      }
    }
  }
}

.d100-header {
  .content {
    .layout {
      .toprow {
        display: grid;
        grid-template-columns: 20% 20% 30% 12% 18%;
      }

      .midrow {
        display: grid;
        grid-template-columns: 19% 16% 27% 21% 17%;
      }

      .bottomrow {
        display: grid;
        grid-template-columns: 10% 14% 14% 21% 21% 14% 6%;
      }
    }
  }
}