.section-title {
    display              : grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    .Ubuntu(normal, larger);

    a {
        border: 2px solid black;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        background-color: burlywood;
        padding: 2px;
        margin: 2px;
    }

    .title {
        background-color: darkgreen;
        color           : aliceblue;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        padding: 2px;
        margin: 2px;
    }
}