@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Medium.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-MediumItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "Sabon LT Std";
  src: url("fonts/sabonltstd-roman.otf");
}
@font-face {
  font-family: "Sabon LT Std";
  src: url("fonts/sabonltstd-bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Sabon LT Std";
  src: url("fonts/sabonltstd-italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Sabon LT Std";
  src: url("fonts/sabonltstd-bolditalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Komika Title";
  src: url("fonts/KomikaTitle.ttf");
  font-weight: normal;
  font-style: normal;
}
.window-app {
  font-size: 10pt;
}
.window-app .window-content {
  background: none;
  background-color: darkgrey;
}
.window-app.mnm .window-content {
  background-image: url("images/SheetBG.jpg");
  background-size: 2048px 2048px;
  background-repeat: no-repeat;
}
.open-journal:hover,
.rollable:hover,
.rollable:focus,
.minus:hover {
  color: black;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.collapsible:hover {
  color: red;
  text-shadow: 0 0 10px darkred;
  cursor: pointer;
}
.plus:hover {
  color: black;
  text-shadow: 0 0 10px green;
  cursor: pointer;
}
.roundedcard {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.rollablecard {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 32px 16px;
  justify-items: center;
}
.statcard {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 48px 16px;
  justify-items: left;
}
.attackcard {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 3fr 32px 1fr 16px;
  justify-items: center;
}
.woundcard {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
}
.roundedheader {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.small {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
}
.smallinput {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
}
.smallselect {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
  width: 18px;
}
.row2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.col1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.col4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.radio-toolbar label {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.radio-toolbar label :hover {
  background-color: black;
  border-color: maroon;
  color: silver;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar input[type="radio"] :checked + label {
  background-color: maroon;
  border-color: black;
  color: silver;
}
.select {
  margin-left: 5px;
}
.select option {
  background-color: darkgray;
  color: maroon;
}
input[type="checkbox"] {
  height: 12px;
  margin: 3px 0px 0px 0px;
}
img.result-image {
  max-width: 64px;
  max-height: 64px;
}
.variables {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.variables .variable {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 4fr;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.variables .variable .variablename {
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: small;
  font-style: normal;
  padding-bottom: 4px;
  grid-column: span 2;
  text-align: center;
  align-self: center;
}
.variables .variable .value {
  text-align: center;
  align-self: center;
  font-family: "Ubuntu";
  font-weight: medium;
  font-size: small;
  font-style: normal;
}
.variables .variable select,
.variables .variable option {
  font-family: "Ubuntu";
  font-weight: medium;
  font-size: small;
  font-style: normal;
}
.traits .trait {
  grid-template-columns: 1fr 4fr;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.traits .trait .title {
  font-weight: bold;
}
.spells,
.skills,
.reactions,
.primaries,
.defences,
.checks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.spells .spell,
.skills .spell,
.reactions .spell,
.primaries .spell,
.defences .spell,
.checks .spell,
.spells .skill,
.skills .skill,
.reactions .skill,
.primaries .skill,
.defences .skill,
.checks .skill,
.spells .reaction,
.skills .reaction,
.reactions .reaction,
.primaries .reaction,
.defences .reaction,
.checks .reaction,
.spells .primary,
.skills .primary,
.reactions .primary,
.primaries .primary,
.defences .primary,
.checks .primary,
.spells .defence,
.skills .defence,
.reactions .defence,
.primaries .defence,
.defences .defence,
.checks .defence,
.spells .check,
.skills .check,
.reactions .check,
.primaries .check,
.defences .check,
.checks .check {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.spellmods,
.skillmods,
.primarymods,
.defencemods,
.checkmods,
.attackmods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.attacks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.attacks .attack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.attacks .attack .attackname {
  grid-area: 1/1/2/3;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: medium;
  font-style: normal;
  padding-bottom: 4px;
}
.attacks .attack .skill {
  grid-area: 2/1/3/2;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.attacks .attack .damage {
  grid-area: 2/2/3/3;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.attacks .melee {
  border-color: darkkhaki;
}
.attacks .ranged {
  border-color: lightcyan;
}
.tracked {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.tracked .trackedpool {
  display: grid;
  min-height: 60px;
  justify-items: center;
  align-items: center;
  padding: 5px;
  border: 2px solid darkgoldenrod;
  border-radius: 5px;
  margin: 2px;
}
.tracked .abbr {
  font-weight: bold;
  padding-bottom: 4px;
}
.tracked .valuelabel {
  grid-area: 1/2/2/3;
  font-size: smaller;
}
.tracked .value {
  grid-area: 2/2/4/3;
  height: 80%;
  width: 36px;
  text-align: center;
}
.tracked .maxlabel {
  grid-area: 1/3/2/4;
  font-size: smaller;
}
.tracked .max {
  grid-area: 2/3/4/4;
}
.grpga.sheet.item form {
  display: flex;
  flex-direction: column;
}
.grpga.sheet.item .sheet-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grpga.sheet.item .sheet-body .tab {
  height: 100%;
}
.grpga.sheet.item .sheet-body .tab textarea {
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  /* calc and viewport to the rescue */
  height: calc(100% - 20px);
  resize: none;
}
.grpga.sheet.item .sheet-body .tab .biography {
  display: grid;
  background-color: #a9a9a9c7;
  min-height: 300px;
  height: 100%;
  resize: none;
}
.grpga.sheet.item .sheet-body hr {
  width: 100%;
}
.section-title {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: larger;
  font-style: normal;
}
.section-title a {
  border: 2px solid black;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: burlywood;
  padding: 2px;
  margin: 2px;
}
.section-title .title {
  background-color: darkgreen;
  color: aliceblue;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}
.grpga.sheet.actor {
  min-width: 600px;
  align-content: flex-start;
}
.grpga.sheet.actor #context-menu.expand-down {
  bottom: calc(100% + 2px);
  top: auto;
}
.grpga.sheet.actor .sheet-header {
  display: grid;
  grid-template-columns: 50px 9fr 4fr 50px 6fr;
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  background-color: #ffdead;
}
.grpga.sheet.actor .sheet-header .portrait {
  height: 50px;
  background: transparent;
}
.grpga.sheet.actor .sheet-header .portrait img {
  height: 100%;
  width: 100%;
}
.grpga.sheet.actor .sheet-header .actorname {
  height: 100%;
  width: 100%;
  background: transparent;
  font-weight: bold;
}
.grpga.sheet.actor .sheet-header .posture {
  justify-content: center;
  height: 100%;
  width: 100%;
  background: transparent;
}
.grpga.sheet.actor .sheet-header .initiative {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
  font-size: small;
}
.grpga.sheet.actor .sheet-header .movement {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  height: 100%;
  border: 1px solid black;
  border-radius: 2px;
  font-size: small;
}
.grpga.sheet.actor .sheet-header .movement label {
  justify-self: center;
  align-self: center;
  font-weight: 400;
}
.grpga.sheet.actor .sheet-header .oats {
  grid-template-columns: repeat(2, 50%);
}
.grpga.sheet.actor .sheet-header .d100 {
  grid-template-columns: repeat(6, 1fr);
}
.grpga.sheet.actor .sheet-header .vsd {
  grid-template-columns: repeat(6, 1fr);
}
.grpga.sheet.actor .sheet-header input {
  height: 100%;
  width: 100%;
  text-align: center;
}
.grpga.sheet nav.sheet-tabs {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: small;
  font-style: normal;
  padding: 2px;
  height: unset;
  line-height: unset;
  border-bottom: 2px solid black;
}
.grpga.sheet nav.sheet-tabs .tabtitle {
  text-align: center;
  padding: 2px;
  border: 1px dotted black;
  border-radius: 3px;
  margin: 2px;
  background-color: cadetblue;
}
.grpga.sheet nav.sheet-tabs .active {
  background-color: darkolivegreen;
  color: aliceblue;
  font-weight: normal;
}
.modifier {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  border-color: black;
}
.global-modifier {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  border-color: black;
  background-color: rgba(255, 127, 80, 0.25);
}
.inEffect {
  background-color: #88cc88;
}
.mnm .modifier {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: #494b;
  border-color: black;
}
.mnm .modifier.inEffect {
  background-color: #88cc88;
}
.mnm .global-modifier {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  border-color: black;
  background-color: #494b;
}
.mnm .owneditems.item-list {
  background-color: #a9a9a9;
}
.owneditems .owneditem {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 3fr;
  align-items: center;
}
.owneditems .owneditem .iteminput {
  height: auto;
}
.owneditems .containeritem {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  display: grid;
  grid-template-columns: 2fr 1.4fr 3fr 20px;
  align-items: center;
}
.owneditems .containeritem .iteminput {
  height: auto;
}
.owneditems .check {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
}
.owneditems .attack {
  background-color: rgba(255, 48, 48, 0.5);
}
.owneditems .roll {
  background-color: rgba(48, 96, 224, 0.3);
}
.owneditems .ability {
  background-color: rgba(224, 48, 224, 0.3);
}
.owneditems .pool {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 1.3fr 0.4fr 1.3fr;
  background-color: rgba(128, 128, 24, 0.3);
}
.owneditems .var {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 1.5fr 0.75fr 0.75fr;
  background-color: rgba(48, 96, 48, 0.3);
}
.owneditems .mod {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 0.75fr 0.75fr 0.75fr 0.75fr;
  background-color: rgba(0, 192, 0, 0.3);
}
.owneditems .containeritem.pool {
  grid-template-columns: 2fr 1.4fr 1.3fr 0.4fr 1.3fr 20px;
}
.owneditems .containeritem.var {
  grid-template-columns: 2fr 1.4fr 1.5fr 0.75fr 0.75fr 20px;
}
.owneditems .containeritem.mod {
  grid-template-columns: 2fr 1.4fr 0.75fr 0.75fr 0.75fr 0.75fr 20px;
}
.owneditems .mod.inEffect {
  background-color: #00e000;
}
.owneditems .adv,
.owneditems .pwr,
.owneditems .trt {
  background-color: rgba(255, 127, 80, 0.3);
}
.owneditems .adv .snippet,
.owneditems .pwr .snippet,
.owneditems .trt .snippet {
  height: 12px;
  overflow: hidden;
}
.owneditems .adv {
  background-color: rgba(128, 128, 48, 0.3);
}
.owneditems .pwr {
  background-color: rgba(192, 192, 64, 0.3);
}
/* fix the message background */
.message {
  background-color: #e0e0e0;
  color: #404040;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.message .message-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
}
.message .message-header .message-sender {
  color: #404040;
}
.message .message-header .whisper-to {
  color: #804040;
}
.message .message-header .message-metadata {
  color: #804040;
}
.message .flavor-text {
  color: #404040;
}
.message .message-content .dice-roll .dice-result .dice-formula {
  display: none;
}
.message .message-content .dice-roll .dice-result .dice-total {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: medium;
  font-style: normal;
}
.message .chatmod {
  font-size: 80%;
  white-space: nowrap;
}
.message .critfail {
  font-weight: bold;
  color: #800;
}
.message .critsuccess {
  font-weight: bold;
  color: #080;
}
.message .failure {
  color: #800;
}
.message .success {
  color: #080;
}
.message .open-journal:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.message .spell-choice,
.message .critical-result,
.message .attack-result {
  font-size: smaller;
}
.message .spell-choice .spellname,
.message .critical-result .spellname,
.message .attack-result .spellname {
  font-weight: bold;
  color: #800;
}
.message .dynamicitem,
.message .critseverity,
.message .damageresult,
.message .critresult {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.grpga.sheet.item.modifier .modentry {
  display: grid;
  grid-template-columns: 1fr 0.75fr 2fr 15px 18px 18px;
  padding-right: 7px;
}
.grpga.sheet.item.variable .varentry {
  display: grid;
  grid-template-columns: 1fr 2fr 15px 18px 18px;
  padding-right: 7px;
}
.userguide .sheet-header .title {
  font-size: x-large;
  font-weight: bold;
  color: darkgreen;
}
.userguide .sheet-tabs {
  background-color: antiquewhite;
}
.userguide .sheet-body {
  background-color: burlywood;
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: medium;
  font-style: normal;
}
.userguide .sheet-body .main {
  color: black;
}
.userguide .sheet-body .general {
  color: black;
}
.userguide .sheet-body .system3d6 {
  font-family: "Sabon LT Std";
  font-weight: normal;
  font-size: medium;
  font-style: normal;
}
.userguide .sheet-body .systemd20 {
  font-family: "Sabon LT Std";
  font-weight: normal;
  font-size: medium;
  font-style: normal;
}
.userguide img {
  max-width: 500px;
  max-width: none;
}
.app.window-app.sheet.journal-sheet {
  background-color: aqua;
}
.app.window-app.sheet.journal-sheet table P {
  margin: auto;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable,
.app.window-app.sheet.journal-sheet .reactionrollscombattable,
.app.window-app.sheet.journal-sheet .spellfailuretable,
.app.window-app.sheet.journal-sheet .spellcastingtable,
.app.window-app.sheet.journal-sheet .missilefumblestable,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable,
.app.window-app.sheet.journal-sheet .magicalresonancetable,
.app.window-app.sheet.journal-sheet .actionresolutiontable,
.app.window-app.sheet.journal-sheet .attacktable,
.app.window-app.sheet.journal-sheet .criticalstrikestable {
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: small;
  font-style: normal;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .tableheaderrow,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .tableheaderrow,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .tableheaderrow,
.app.window-app.sheet.journal-sheet .spellfailuretable .tableheaderrow,
.app.window-app.sheet.journal-sheet .spellcastingtable .tableheaderrow,
.app.window-app.sheet.journal-sheet .missilefumblestable .tableheaderrow,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .tableheaderrow,
.app.window-app.sheet.journal-sheet .magicalresonancetable .tableheaderrow,
.app.window-app.sheet.journal-sheet .actionresolutiontable .tableheaderrow,
.app.window-app.sheet.journal-sheet .attacktable .tableheaderrow,
.app.window-app.sheet.journal-sheet .criticalstrikestable .tableheaderrow {
  background-color: coral;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .spellfailuretable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .spellcastingtable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .missilefumblestable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .magicalresonancetable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .actionresolutiontable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .attacktable .tableheaderrow .tableheader,
.app.window-app.sheet.journal-sheet .criticalstrikestable .tableheaderrow .tableheader {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: medium;
  font-style: normal;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .targetnumber,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .targetnumber,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .targetnumber,
.app.window-app.sheet.journal-sheet .spellfailuretable .targetnumber,
.app.window-app.sheet.journal-sheet .spellcastingtable .targetnumber,
.app.window-app.sheet.journal-sheet .missilefumblestable .targetnumber,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .targetnumber,
.app.window-app.sheet.journal-sheet .magicalresonancetable .targetnumber,
.app.window-app.sheet.journal-sheet .actionresolutiontable .targetnumber,
.app.window-app.sheet.journal-sheet .attacktable .targetnumber,
.app.window-app.sheet.journal-sheet .criticalstrikestable .targetnumber,
.app.window-app.sheet.journal-sheet .fearsaverollstable .roll,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .roll,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .roll,
.app.window-app.sheet.journal-sheet .spellfailuretable .roll,
.app.window-app.sheet.journal-sheet .spellcastingtable .roll,
.app.window-app.sheet.journal-sheet .missilefumblestable .roll,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .roll,
.app.window-app.sheet.journal-sheet .magicalresonancetable .roll,
.app.window-app.sheet.journal-sheet .actionresolutiontable .roll,
.app.window-app.sheet.journal-sheet .attacktable .roll,
.app.window-app.sheet.journal-sheet .criticalstrikestable .roll {
  text-align: center;
  width: 15%;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .outcome,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .outcome,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .outcome,
.app.window-app.sheet.journal-sheet .spellfailuretable .outcome,
.app.window-app.sheet.journal-sheet .spellcastingtable .outcome,
.app.window-app.sheet.journal-sheet .missilefumblestable .outcome,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .outcome,
.app.window-app.sheet.journal-sheet .magicalresonancetable .outcome,
.app.window-app.sheet.journal-sheet .actionresolutiontable .outcome,
.app.window-app.sheet.journal-sheet .attacktable .outcome,
.app.window-app.sheet.journal-sheet .criticalstrikestable .outcome {
  text-align: left;
  width: 15%;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .result-na,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .result-na,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .result-na,
.app.window-app.sheet.journal-sheet .spellfailuretable .result-na,
.app.window-app.sheet.journal-sheet .spellcastingtable .result-na,
.app.window-app.sheet.journal-sheet .missilefumblestable .result-na,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .result-na,
.app.window-app.sheet.journal-sheet .magicalresonancetable .result-na,
.app.window-app.sheet.journal-sheet .actionresolutiontable .result-na,
.app.window-app.sheet.journal-sheet .attacktable .result-na,
.app.window-app.sheet.journal-sheet .criticalstrikestable .result-na,
.app.window-app.sheet.journal-sheet .fearsaverollstable .result-la,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .result-la,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .result-la,
.app.window-app.sheet.journal-sheet .spellfailuretable .result-la,
.app.window-app.sheet.journal-sheet .spellcastingtable .result-la,
.app.window-app.sheet.journal-sheet .missilefumblestable .result-la,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .result-la,
.app.window-app.sheet.journal-sheet .magicalresonancetable .result-la,
.app.window-app.sheet.journal-sheet .actionresolutiontable .result-la,
.app.window-app.sheet.journal-sheet .attacktable .result-la,
.app.window-app.sheet.journal-sheet .criticalstrikestable .result-la,
.app.window-app.sheet.journal-sheet .fearsaverollstable .result-ma,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .result-ma,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .result-ma,
.app.window-app.sheet.journal-sheet .spellfailuretable .result-ma,
.app.window-app.sheet.journal-sheet .spellcastingtable .result-ma,
.app.window-app.sheet.journal-sheet .missilefumblestable .result-ma,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .result-ma,
.app.window-app.sheet.journal-sheet .magicalresonancetable .result-ma,
.app.window-app.sheet.journal-sheet .actionresolutiontable .result-ma,
.app.window-app.sheet.journal-sheet .attacktable .result-ma,
.app.window-app.sheet.journal-sheet .criticalstrikestable .result-ma,
.app.window-app.sheet.journal-sheet .fearsaverollstable .result-ha,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .result-ha,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .result-ha,
.app.window-app.sheet.journal-sheet .spellfailuretable .result-ha,
.app.window-app.sheet.journal-sheet .spellcastingtable .result-ha,
.app.window-app.sheet.journal-sheet .missilefumblestable .result-ha,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .result-ha,
.app.window-app.sheet.journal-sheet .magicalresonancetable .result-ha,
.app.window-app.sheet.journal-sheet .actionresolutiontable .result-ha,
.app.window-app.sheet.journal-sheet .attacktable .result-ha,
.app.window-app.sheet.journal-sheet .criticalstrikestable .result-ha,
.app.window-app.sheet.journal-sheet .fearsaverollstable .result,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .result,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .result,
.app.window-app.sheet.journal-sheet .spellfailuretable .result,
.app.window-app.sheet.journal-sheet .spellcastingtable .result,
.app.window-app.sheet.journal-sheet .missilefumblestable .result,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .result,
.app.window-app.sheet.journal-sheet .magicalresonancetable .result,
.app.window-app.sheet.journal-sheet .actionresolutiontable .result,
.app.window-app.sheet.journal-sheet .attacktable .result,
.app.window-app.sheet.journal-sheet .criticalstrikestable .result {
  text-align: center;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .outcomeeffects,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .outcomeeffects,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .outcomeeffects,
.app.window-app.sheet.journal-sheet .spellfailuretable .outcomeeffects,
.app.window-app.sheet.journal-sheet .spellcastingtable .outcomeeffects,
.app.window-app.sheet.journal-sheet .missilefumblestable .outcomeeffects,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .outcomeeffects,
.app.window-app.sheet.journal-sheet .magicalresonancetable .outcomeeffects,
.app.window-app.sheet.journal-sheet .actionresolutiontable .outcomeeffects,
.app.window-app.sheet.journal-sheet .attacktable .outcomeeffects,
.app.window-app.sheet.journal-sheet .criticalstrikestable .outcomeeffects,
.app.window-app.sheet.journal-sheet .fearsaverollstable .resultdescription,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .resultdescription,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .resultdescription,
.app.window-app.sheet.journal-sheet .spellfailuretable .resultdescription,
.app.window-app.sheet.journal-sheet .spellcastingtable .resultdescription,
.app.window-app.sheet.journal-sheet .missilefumblestable .resultdescription,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .resultdescription,
.app.window-app.sheet.journal-sheet .magicalresonancetable .resultdescription,
.app.window-app.sheet.journal-sheet .actionresolutiontable .resultdescription,
.app.window-app.sheet.journal-sheet .attacktable .resultdescription,
.app.window-app.sheet.journal-sheet .criticalstrikestable .resultdescription {
  text-align: left;
}
.app.window-app.sheet.journal-sheet .fearsaverollstable .max-lethal,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .max-lethal,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .max-lethal,
.app.window-app.sheet.journal-sheet .spellfailuretable .max-lethal,
.app.window-app.sheet.journal-sheet .spellcastingtable .max-lethal,
.app.window-app.sheet.journal-sheet .missilefumblestable .max-lethal,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .max-lethal,
.app.window-app.sheet.journal-sheet .magicalresonancetable .max-lethal,
.app.window-app.sheet.journal-sheet .actionresolutiontable .max-lethal,
.app.window-app.sheet.journal-sheet .attacktable .max-lethal,
.app.window-app.sheet.journal-sheet .criticalstrikestable .max-lethal,
.app.window-app.sheet.journal-sheet .fearsaverollstable .max-grievous,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .max-grievous,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .max-grievous,
.app.window-app.sheet.journal-sheet .spellfailuretable .max-grievous,
.app.window-app.sheet.journal-sheet .spellcastingtable .max-grievous,
.app.window-app.sheet.journal-sheet .missilefumblestable .max-grievous,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .max-grievous,
.app.window-app.sheet.journal-sheet .magicalresonancetable .max-grievous,
.app.window-app.sheet.journal-sheet .actionresolutiontable .max-grievous,
.app.window-app.sheet.journal-sheet .attacktable .max-grievous,
.app.window-app.sheet.journal-sheet .criticalstrikestable .max-grievous,
.app.window-app.sheet.journal-sheet .fearsaverollstable .max-moderate,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .max-moderate,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .max-moderate,
.app.window-app.sheet.journal-sheet .spellfailuretable .max-moderate,
.app.window-app.sheet.journal-sheet .spellcastingtable .max-moderate,
.app.window-app.sheet.journal-sheet .missilefumblestable .max-moderate,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .max-moderate,
.app.window-app.sheet.journal-sheet .magicalresonancetable .max-moderate,
.app.window-app.sheet.journal-sheet .actionresolutiontable .max-moderate,
.app.window-app.sheet.journal-sheet .attacktable .max-moderate,
.app.window-app.sheet.journal-sheet .criticalstrikestable .max-moderate,
.app.window-app.sheet.journal-sheet .fearsaverollstable .max-light,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .max-light,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .max-light,
.app.window-app.sheet.journal-sheet .spellfailuretable .max-light,
.app.window-app.sheet.journal-sheet .spellcastingtable .max-light,
.app.window-app.sheet.journal-sheet .missilefumblestable .max-light,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .max-light,
.app.window-app.sheet.journal-sheet .magicalresonancetable .max-light,
.app.window-app.sheet.journal-sheet .actionresolutiontable .max-light,
.app.window-app.sheet.journal-sheet .attacktable .max-light,
.app.window-app.sheet.journal-sheet .criticalstrikestable .max-light,
.app.window-app.sheet.journal-sheet .fearsaverollstable .max-superficial,
.app.window-app.sheet.journal-sheet .reactionrollsinteractiontable .max-superficial,
.app.window-app.sheet.journal-sheet .reactionrollscombattable .max-superficial,
.app.window-app.sheet.journal-sheet .spellfailuretable .max-superficial,
.app.window-app.sheet.journal-sheet .spellcastingtable .max-superficial,
.app.window-app.sheet.journal-sheet .missilefumblestable .max-superficial,
.app.window-app.sheet.journal-sheet .meleethrownfumblestable .max-superficial,
.app.window-app.sheet.journal-sheet .magicalresonancetable .max-superficial,
.app.window-app.sheet.journal-sheet .actionresolutiontable .max-superficial,
.app.window-app.sheet.journal-sheet .attacktable .max-superficial,
.app.window-app.sheet.journal-sheet .criticalstrikestable .max-superficial {
  background-color: #00ddaa50;
}
.app.window-app.sheet.journal-sheet .spelllisttable {
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: small;
  font-style: normal;
}
.app.window-app.sheet.journal-sheet .spelllisttable .tableheaderrow {
  background-color: coral;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: medium;
  font-style: normal;
}
.app.window-app.sheet.journal-sheet .spelllisttable .tablerow {
  height: 32px;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.app.window-app.sheet.journal-sheet .spelllisttable .weave {
  text-align: center;
}
.app.window-app.sheet.journal-sheet .spelllisttable .spell {
  text-align: left;
}
.app.window-app.sheet.journal-sheet .spelllisttable .range,
.app.window-app.sheet.journal-sheet .spelllisttable .areaofeffect,
.app.window-app.sheet.journal-sheet .spelllisttable .duration,
.app.window-app.sheet.journal-sheet .spelllisttable .save {
  text-align: center;
}
.gurps-header,
.palladium-header,
.d100-header,
.mnm-header,
.vsd-header {
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: small;
  font-style: normal;
  display: grid;
  grid-auto-rows: auto;
  background-color: maroon;
  border-radius: 5px;
}
.gurps-header .sectionheader,
.palladium-header .sectionheader,
.d100-header .sectionheader,
.mnm-header .sectionheader,
.vsd-header .sectionheader {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.gurps-header .sectionheader .actorname,
.palladium-header .sectionheader .actorname,
.d100-header .sectionheader .actorname,
.mnm-header .sectionheader .actorname,
.vsd-header .sectionheader .actorname {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
}
.gurps-header .content .layout,
.palladium-header .content .layout,
.d100-header .content .layout,
.mnm-header .content .layout,
.vsd-header .content .layout {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 75px 1fr;
}
.gurps-header .content .layout .portrait,
.palladium-header .content .layout .portrait,
.d100-header .content .layout .portrait,
.mnm-header .content .layout .portrait,
.vsd-header .content .layout .portrait {
  display: grid;
  grid-row: span 3;
  border: none;
}
.gurps-header .content .layout .toprow,
.palladium-header .content .layout .toprow,
.d100-header .content .layout .toprow,
.mnm-header .content .layout .toprow,
.vsd-header .content .layout .toprow {
  display: grid;
  grid-template-columns: 20% 18% 20% 12% 10% 10% 10%;
}
.gurps-header .content .layout .midrow,
.palladium-header .content .layout .midrow,
.d100-header .content .layout .midrow,
.mnm-header .content .layout .midrow,
.vsd-header .content .layout .midrow {
  display: grid;
  grid-template-columns: 40% 18% 20% 22%;
}
.gurps-header .content .layout .bottomrow,
.palladium-header .content .layout .bottomrow,
.d100-header .content .layout .bottomrow,
.mnm-header .content .layout .bottomrow,
.vsd-header .content .layout .bottomrow {
  display: grid;
  grid-template-columns: 24% 18% 16% 20% 22%;
}
.gurps-header .content .layout .headinfo,
.palladium-header .content .layout .headinfo,
.d100-header .content .layout .headinfo,
.mnm-header .content .layout .headinfo,
.vsd-header .content .layout .headinfo {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
  margin: 1px;
}
.gurps-header .content .layout .headinfo .rollable:hover,
.palladium-header .content .layout .headinfo .rollable:hover,
.d100-header .content .layout .headinfo .rollable:hover,
.mnm-header .content .layout .headinfo .rollable:hover,
.vsd-header .content .layout .headinfo .rollable:hover {
  background-color: maroon;
  color: silver;
}
.gurps-header .content .layout .triple,
.palladium-header .content .layout .triple,
.d100-header .content .layout .triple,
.mnm-header .content .layout .triple,
.vsd-header .content .layout .triple,
.gurps-header .content .layout .double,
.palladium-header .content .layout .double,
.d100-header .content .layout .double,
.mnm-header .content .layout .double,
.vsd-header .content .layout .double,
.gurps-header .content .layout .single,
.palladium-header .content .layout .single,
.d100-header .content .layout .single,
.mnm-header .content .layout .single,
.vsd-header .content .layout .single {
  align-items: baseline;
}
.gurps-header .content .layout .triple .value,
.palladium-header .content .layout .triple .value,
.d100-header .content .layout .triple .value,
.mnm-header .content .layout .triple .value,
.vsd-header .content .layout .triple .value,
.gurps-header .content .layout .double .value,
.palladium-header .content .layout .double .value,
.d100-header .content .layout .double .value,
.mnm-header .content .layout .double .value,
.vsd-header .content .layout .double .value,
.gurps-header .content .layout .single .value,
.palladium-header .content .layout .single .value,
.d100-header .content .layout .single .value,
.mnm-header .content .layout .single .value,
.vsd-header .content .layout .single .value {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
}
.gurps-header .content .layout .triple .valuefull,
.palladium-header .content .layout .triple .valuefull,
.d100-header .content .layout .triple .valuefull,
.mnm-header .content .layout .triple .valuefull,
.vsd-header .content .layout .triple .valuefull,
.gurps-header .content .layout .double .valuefull,
.palladium-header .content .layout .double .valuefull,
.d100-header .content .layout .double .valuefull,
.mnm-header .content .layout .double .valuefull,
.vsd-header .content .layout .double .valuefull,
.gurps-header .content .layout .single .valuefull,
.palladium-header .content .layout .single .valuefull,
.d100-header .content .layout .single .valuefull,
.mnm-header .content .layout .single .valuefull,
.vsd-header .content .layout .single .valuefull {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
  text-align: left;
  width: 100%;
}
.gurps-header .content .layout .triple,
.palladium-header .content .layout .triple,
.d100-header .content .layout .triple,
.mnm-header .content .layout .triple,
.vsd-header .content .layout .triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gurps-header .content .layout .double,
.palladium-header .content .layout .double,
.d100-header .content .layout .double,
.mnm-header .content .layout .double,
.vsd-header .content .layout .double {
  display: grid;
  grid-template-columns: auto 1fr;
}
.gurps-header .content .layout .move .value,
.palladium-header .content .layout .move .value,
.d100-header .content .layout .move .value,
.mnm-header .content .layout .move .value,
.vsd-header .content .layout .move .value,
.gurps-header .content .layout .declaration .value,
.palladium-header .content .layout .declaration .value,
.d100-header .content .layout .declaration .value,
.mnm-header .content .layout .declaration .value,
.vsd-header .content .layout .declaration .value {
  background: none;
  border: none;
  width: auto;
  height: auto;
  color: silver;
  width: 18px;
}
.gurps-header nav.sheet-nav,
.palladium-header nav.sheet-nav,
.d100-header nav.sheet-nav,
.mnm-header nav.sheet-nav,
.vsd-header nav.sheet-nav {
  padding: 2px;
  border-top: 4px solid silver;
}
.gurps-header nav.sheet-nav .tabtitle,
.palladium-header nav.sheet-nav .tabtitle,
.d100-header nav.sheet-nav .tabtitle,
.mnm-header nav.sheet-nav .tabtitle,
.vsd-header nav.sheet-nav .tabtitle {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  text-align: center;
  border: 2px solid black;
  color: silver;
}
.gurps-header nav.sheet-nav .active,
.palladium-header nav.sheet-nav .active,
.d100-header nav.sheet-nav .active,
.mnm-header nav.sheet-nav .active,
.vsd-header nav.sheet-nav .active {
  background-color: maroon;
  border-color: black;
}
.mnm-header {
  background-color: darkgoldenrod;
}
.mnm-header nav.sheet-nav .tabtitle {
  color: white;
  background-color: dimgray;
}
.mnm-header nav.sheet-nav .active {
  background-color: cornflowerblue;
}
.gurps-header .content .layout .toprow,
.mnm-header .content .layout .toprow,
.palladium-header .content .layout .toprow {
  display: grid;
  grid-template-columns: 20% 32% 48%;
}
.gurps-header .content .layout .toprow.d6,
.mnm-header .content .layout .toprow.d6,
.palladium-header .content .layout .toprow.d6 {
  grid-template-columns: 1fr 3fr;
}
.gurps-header .content .layout .midrow,
.mnm-header .content .layout .midrow,
.palladium-header .content .layout .midrow {
  display: grid;
  grid-template-columns: 28% 12% 12% 16% 20% 12%;
}
.gurps-header .content .layout .midrow.bbf,
.mnm-header .content .layout .midrow.bbf,
.palladium-header .content .layout .midrow.bbf {
  grid-template-columns: 68% 20% 12%;
}
.gurps-header .content .layout .midrow.d6,
.mnm-header .content .layout .midrow.d6,
.palladium-header .content .layout .midrow.d6 {
  grid-template-columns: 6fr 1fr 1fr;
}
.gurps-header .content .layout .bottomrow,
.mnm-header .content .layout .bottomrow,
.palladium-header .content .layout .bottomrow {
  display: grid;
  grid-template-columns: 94% 6%;
}
.gurps-header .content .layout .bottomrow.d6,
.mnm-header .content .layout .bottomrow.d6,
.palladium-header .content .layout .bottomrow.d6 {
  grid-template-columns: 15fr 1fr;
}
.d100-header .content .layout .toprow {
  display: grid;
  grid-template-columns: 20% 20% 30% 12% 18%;
}
.d100-header .content .layout .midrow {
  display: grid;
  grid-template-columns: 19% 16% 27% 21% 17%;
}
.d100-header .content .layout .bottomrow {
  display: grid;
  grid-template-columns: 10% 14% 14% 21% 21% 14% 6%;
}
.mnm,
.section {
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: small;
  font-style: normal;
  display: grid;
  grid-auto-rows: auto;
  border-radius: 5px;
  border: 2px solid maroon;
}
.mnm .sectionheader,
.section .sectionheader {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.mnm .sectionheader .section-title .title,
.section .sectionheader .section-title .title,
.mnm .sectionheader .section-title a,
.section .sectionheader .section-title a {
  border: inherit;
  padding: inherit;
  margin: inherit;
  background: inherit;
}
.mnm .sectionheader .section-title .title,
.section .sectionheader .section-title .title {
  color: inherit;
}
.mnm .content .nospan,
.section .content .nospan,
.mnm .content .twospan,
.section .content .twospan,
.mnm .content .threespan,
.section .content .threespan,
.mnm .content .fourspan,
.section .content .fourspan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mnm .content .nospan .header,
.section .content .nospan .header,
.mnm .content .twospan .header,
.section .content .twospan .header,
.mnm .content .threespan .header,
.section .content .threespan .header,
.mnm .content .fourspan .header,
.section .content .fourspan .header {
  grid-column: span 4;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.mnm .content .nospan .header .section-title .title,
.section .content .nospan .header .section-title .title,
.mnm .content .twospan .header .section-title .title,
.section .content .twospan .header .section-title .title,
.mnm .content .threespan .header .section-title .title,
.section .content .threespan .header .section-title .title,
.mnm .content .fourspan .header .section-title .title,
.section .content .fourspan .header .section-title .title,
.mnm .content .nospan .header .section-title a,
.section .content .nospan .header .section-title a,
.mnm .content .twospan .header .section-title a,
.section .content .twospan .header .section-title a,
.mnm .content .threespan .header .section-title a,
.section .content .threespan .header .section-title a,
.mnm .content .fourspan .header .section-title a,
.section .content .fourspan .header .section-title a {
  border: inherit;
  padding: inherit;
  margin: inherit;
  background: inherit;
}
.mnm .content .nospan .header .section-title .title,
.section .content .nospan .header .section-title .title,
.mnm .content .twospan .header .section-title .title,
.section .content .twospan .header .section-title .title,
.mnm .content .threespan .header .section-title .title,
.section .content .threespan .header .section-title .title,
.mnm .content .fourspan .header .section-title .title,
.section .content .fourspan .header .section-title .title {
  color: inherit;
}
.mnm .content .nospan .entry,
.section .content .nospan .entry,
.mnm .content .twospan .entry,
.section .content .twospan .entry,
.mnm .content .threespan .entry,
.section .content .threespan .entry,
.mnm .content .fourspan .entry,
.section .content .fourspan .entry {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 32px 16px;
  justify-items: center;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  align-items: baseline;
}
.mnm .content .nospan .trait,
.section .content .nospan .trait,
.mnm .content .twospan .trait,
.section .content .twospan .trait,
.mnm .content .threespan .trait,
.section .content .threespan .trait,
.mnm .content .fourspan .trait,
.section .content .fourspan .trait {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  align-items: baseline;
  display: grid;
  grid-template-columns: 24px 1fr 4fr;
}
.mnm .content .nospan .statentry,
.section .content .nospan .statentry,
.mnm .content .twospan .statentry,
.section .content .twospan .statentry,
.mnm .content .threespan .statentry,
.section .content .threespan .statentry,
.mnm .content .fourspan .statentry,
.section .content .fourspan .statentry {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 48px 16px;
  justify-items: left;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.mnm .content .nospan .attackentry,
.section .content .nospan .attackentry,
.mnm .content .twospan .attackentry,
.section .content .twospan .attackentry,
.mnm .content .threespan .attackentry,
.section .content .threespan .attackentry,
.mnm .content .fourspan .attackentry,
.section .content .fourspan .attackentry {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 3fr 32px 1fr 16px;
  justify-items: center;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.mnm .content .nospan .wound,
.section .content .nospan .wound,
.mnm .content .twospan .wound,
.section .content .twospan .wound,
.mnm .content .threespan .wound,
.section .content .threespan .wound,
.mnm .content .fourspan .wound,
.section .content .fourspan .wound {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.mnm .content .nospan .subsection .header,
.section .content .nospan .subsection .header,
.mnm .content .twospan .subsection .header,
.section .content .twospan .subsection .header,
.mnm .content .threespan .subsection .header,
.section .content .threespan .subsection .header,
.mnm .content .fourspan .subsection .header,
.section .content .fourspan .subsection .header {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: black;
  color: silver;
  text-align: center;
  border: 2px solid black;
}
.mnm .content .nospan .subsection .entry,
.section .content .nospan .subsection .entry,
.mnm .content .twospan .subsection .entry,
.section .content .twospan .subsection .entry,
.mnm .content .threespan .subsection .entry,
.section .content .threespan .subsection .entry,
.mnm .content .fourspan .subsection .entry,
.section .content .fourspan .subsection .entry {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 32px 16px;
  justify-items: center;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  align-items: baseline;
}
.mnm .content .nospan .doublewide,
.section .content .nospan .doublewide,
.mnm .content .twospan .doublewide,
.section .content .twospan .doublewide,
.mnm .content .threespan .doublewide,
.section .content .threespan .doublewide,
.mnm .content .fourspan .doublewide,
.section .content .fourspan .doublewide {
  grid-column: span 2;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 32px 16px;
  justify-items: center;
}
.mnm .content .nospan .notes,
.section .content .nospan .notes,
.mnm .content .twospan .notes,
.section .content .twospan .notes,
.mnm .content .threespan .notes,
.section .content .threespan .notes,
.mnm .content .fourspan .notes,
.section .content .fourspan .notes {
  grid-column: span 2;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.mnm .content .nospan .item.notes,
.section .content .nospan .item.notes,
.mnm .content .twospan .item.notes,
.section .content .twospan .item.notes,
.mnm .content .threespan .item.notes,
.section .content .threespan .item.notes,
.mnm .content .fourspan .item.notes,
.section .content .fourspan .item.notes {
  display: grid;
  grid-template-columns: 1fr 0fr;
}
.mnm .content .nospan .rankvariable,
.section .content .nospan .rankvariable,
.mnm .content .twospan .rankvariable,
.section .content .twospan .rankvariable,
.mnm .content .threespan .rankvariable,
.section .content .threespan .rankvariable,
.mnm .content .fourspan .rankvariable,
.section .content .fourspan .rankvariable,
.mnm .content .nospan .poolstyle,
.section .content .nospan .poolstyle,
.mnm .content .twospan .poolstyle,
.section .content .twospan .poolstyle,
.mnm .content .threespan .poolstyle,
.section .content .threespan .poolstyle,
.mnm .content .fourspan .poolstyle,
.section .content .fourspan .poolstyle,
.mnm .content .nospan .variable,
.section .content .nospan .variable,
.mnm .content .twospan .variable,
.section .content .twospan .variable,
.mnm .content .threespan .variable,
.section .content .threespan .variable,
.mnm .content .fourspan .variable,
.section .content .fourspan .variable {
  display: grid;
  grid-column: span 2;
  grid-template-columns: auto 1fr 36px;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  align-items: baseline;
}
.mnm .content .nospan .rankvariable .value,
.section .content .nospan .rankvariable .value,
.mnm .content .twospan .rankvariable .value,
.section .content .twospan .rankvariable .value,
.mnm .content .threespan .rankvariable .value,
.section .content .threespan .rankvariable .value,
.mnm .content .fourspan .rankvariable .value,
.section .content .fourspan .rankvariable .value,
.mnm .content .nospan .poolstyle .value,
.section .content .nospan .poolstyle .value,
.mnm .content .twospan .poolstyle .value,
.section .content .twospan .poolstyle .value,
.mnm .content .threespan .poolstyle .value,
.section .content .threespan .poolstyle .value,
.mnm .content .fourspan .poolstyle .value,
.section .content .fourspan .poolstyle .value,
.mnm .content .nospan .variable .value,
.section .content .nospan .variable .value,
.mnm .content .twospan .variable .value,
.section .content .twospan .variable .value,
.mnm .content .threespan .variable .value,
.section .content .threespan .variable .value,
.mnm .content .fourspan .variable .value,
.section .content .fourspan .variable .value,
.mnm .content .nospan .rankvariable .variablename,
.section .content .nospan .rankvariable .variablename,
.mnm .content .twospan .rankvariable .variablename,
.section .content .twospan .rankvariable .variablename,
.mnm .content .threespan .rankvariable .variablename,
.section .content .threespan .rankvariable .variablename,
.mnm .content .fourspan .rankvariable .variablename,
.section .content .fourspan .rankvariable .variablename,
.mnm .content .nospan .poolstyle .variablename,
.section .content .nospan .poolstyle .variablename,
.mnm .content .twospan .poolstyle .variablename,
.section .content .twospan .poolstyle .variablename,
.mnm .content .threespan .poolstyle .variablename,
.section .content .threespan .poolstyle .variablename,
.mnm .content .fourspan .poolstyle .variablename,
.section .content .fourspan .poolstyle .variablename,
.mnm .content .nospan .variable .variablename,
.section .content .nospan .variable .variablename,
.mnm .content .twospan .variable .variablename,
.section .content .twospan .variable .variablename,
.mnm .content .threespan .variable .variablename,
.section .content .threespan .variable .variablename,
.mnm .content .fourspan .variable .variablename,
.section .content .fourspan .variable .variablename {
  text-align: center;
}
.mnm .content .nospan .rankvariable .select,
.section .content .nospan .rankvariable .select,
.mnm .content .twospan .rankvariable .select,
.section .content .twospan .rankvariable .select,
.mnm .content .threespan .rankvariable .select,
.section .content .threespan .rankvariable .select,
.mnm .content .fourspan .rankvariable .select,
.section .content .fourspan .rankvariable .select,
.mnm .content .nospan .poolstyle .select,
.section .content .nospan .poolstyle .select,
.mnm .content .twospan .poolstyle .select,
.section .content .twospan .poolstyle .select,
.mnm .content .threespan .poolstyle .select,
.section .content .threespan .poolstyle .select,
.mnm .content .fourspan .poolstyle .select,
.section .content .fourspan .poolstyle .select,
.mnm .content .nospan .variable .select,
.section .content .nospan .variable .select,
.mnm .content .twospan .variable .select,
.section .content .twospan .variable .select,
.mnm .content .threespan .variable .select,
.section .content .threespan .variable .select,
.mnm .content .fourspan .variable .select,
.section .content .fourspan .variable .select {
  border: none;
  background: none;
  height: auto;
  text-align-last: right;
  color: gray;
  font-size: inherit;
  font-weight: bold;
}
.mnm .content .nospan .rankvariable,
.section .content .nospan .rankvariable,
.mnm .content .twospan .rankvariable,
.section .content .twospan .rankvariable,
.mnm .content .threespan .rankvariable,
.section .content .threespan .rankvariable,
.mnm .content .fourspan .rankvariable,
.section .content .fourspan .rankvariable {
  grid-template-columns: auto 1fr;
}
.mnm .content .nospan .poolstyle,
.section .content .nospan .poolstyle,
.mnm .content .twospan .poolstyle,
.section .content .twospan .poolstyle,
.mnm .content .threespan .poolstyle,
.section .content .threespan .poolstyle,
.mnm .content .fourspan .poolstyle,
.section .content .fourspan .poolstyle {
  grid-template-columns: auto 36px 36px;
}
.mnm .content .nospan .poolstyle .value,
.section .content .nospan .poolstyle .value,
.mnm .content .twospan .poolstyle .value,
.section .content .twospan .poolstyle .value,
.mnm .content .threespan .poolstyle .value,
.section .content .threespan .poolstyle .value,
.mnm .content .fourspan .poolstyle .value,
.section .content .fourspan .poolstyle .value {
  height: auto;
  background: none;
}
.mnm .content .threespan,
.section .content .threespan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mnm .content .threespan .header,
.section .content .threespan .header {
  grid-column: span 3;
}
.mnm .content .threespan .variable,
.section .content .threespan .variable,
.mnm .content .threespan .poolstyle,
.section .content .threespan .poolstyle {
  grid-column: span 1;
}
.mnm .content .twospan,
.section .content .twospan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mnm .content .twospan .header,
.section .content .twospan .header {
  grid-column: span 2;
}
.mnm .content .nospan,
.section .content .nospan {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.mnm .content .nospan .header,
.section .content .nospan .header {
  grid-column: span 1;
}
.mnm .content .biography,
.section .content .biography {
  min-height: 300px;
  resize: none;
}
textarea {
  background-color: #a9a9a9;
}
.mnm .content .nospan .item.notes,
.mnm .content .twospan .item.notes,
.mnm .content .threespan .item.notes,
.mnm .content .fourspan .item.notes,
.mnm .content .nospan .variable,
.mnm .content .twospan .variable,
.mnm .content .threespan .variable,
.mnm .content .fourspan .variable,
.mnm .content .nospan .poolstyle,
.mnm .content .twospan .poolstyle,
.mnm .content .threespan .poolstyle,
.mnm .content .fourspan .poolstyle,
.mnm .content .nospan .attackentry,
.mnm .content .twospan .attackentry,
.mnm .content .threespan .attackentry,
.mnm .content .fourspan .attackentry,
.mnm .content .nospan .rankvariable,
.mnm .content .twospan .rankvariable,
.mnm .content .threespan .rankvariable,
.mnm .content .fourspan .rankvariable,
.mnm .content .nospan .entry,
.mnm .content .twospan .entry,
.mnm .content .threespan .entry,
.mnm .content .fourspan .entry {
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: small;
  font-style: normal;
  background-color: #a9a9a9;
  border-color: black;
}
.mnm .content .nospan .advantage,
.mnm .content .twospan .advantage,
.mnm .content .threespan .advantage,
.mnm .content .fourspan .advantage {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  align-items: baseline;
  border-color: black;
  background-color: #a9a9a9;
}
.mnm .content .nospan .advantage .toprow,
.mnm .content .twospan .advantage .toprow,
.mnm .content .threespan .advantage .toprow,
.mnm .content .fourspan .advantage .toprow {
  display: grid;
  grid-template-columns: 60% 10% 20% 10%;
  color: darkgreen;
  text-shadow: 0 0 10px darkgray;
}
.mnm .content .nospan .advantage .description,
.mnm .content .twospan .advantage .description,
.mnm .content .threespan .advantage .description,
.mnm .content .fourspan .advantage .description {
  text-align: left;
}
.mnm .content .nospan .personal,
.mnm .content .twospan .personal,
.mnm .content .threespan .personal,
.mnm .content .fourspan .personal {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #a9a9a9;
}
.mnm .content .nospan .personal .value,
.mnm .content .twospan .personal .value,
.mnm .content .threespan .personal .value,
.mnm .content .fourspan .personal .value {
  height: auto;
  background: none;
  text-align: center;
  border: none;
}
.mnm .content .nospan .personal.full,
.mnm .content .twospan .personal.full,
.mnm .content .threespan .personal.full,
.mnm .content .fourspan .personal.full {
  grid-column: span 3;
}
.mnm .content .nospan.biography {
  background-color: #a9a9a9;
}
.combat-sidebar li.combatant.defeated {
  color: #e0736e;
  background-color: rgba(128, 0, 0, 0.8);
}
.combat-sidebar .combatant {
  display: grid;
  grid-template-columns: 48px 1fr 48px;
}
.combat-sidebar .combatant .token-name {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
.combat-sidebar .combatant .token-name .namerow {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 30px;
  align-items: center;
}
.combat-sidebar .combatant .token-name .namerow .name {
  text-align: left;
  max-height: 24px;
  overflow: hidden;
  color: #ff8f8f;
}
.combat-sidebar .combatant .token-name .namerow .name.ready {
  color: #8fbc8f;
}
.combat-sidebar .combatant .token-name .combatant-controls {
  text-align: center;
}
.combat-sidebar .combatant .token-name .combatant-controls .actions,
.combat-sidebar .combatant .token-name .combatant-controls .shotCost {
  color: silver;
  height: 20px;
  max-width: 28px;
  border: none;
  background-color: #800;
  text-align: center;
}
.combat-sidebar .combatant .token-initiative .initiative {
  color: silver;
  height: 20px;
  border: none;
  background-color: #800;
  text-align: center;
}
.mydialog .rollables .rollablename {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.mydialog .rollables .rollablename .name {
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  padding-bottom: 2px;
}
.mydialog .rollables .attackitem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
}
.mydialog .rollables .attackitem .attackname {
  grid-area: 1/1/2/3;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  padding-bottom: 4px;
}
.mydialog .rollables .attackitem .skill {
  grid-area: 2/1/3/2;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.mydialog .rollables .attackitem .damage {
  grid-area: 2/2/3/3;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
}
.mydialog .rollables .entry {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 32px 16px;
  justify-items: center;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: smaller;
  font-style: normal;
  align-items: baseline;
  background-color: lightcyan;
}
.mydialog .rollables .melee {
  border-color: darkkhaki;
}
.mydialog .rollables .ranged {
  border-color: lightcyan;
}
.mydialog .rollables .spell {
  border-color: blueviolet;
}
.mydialog .modifiers .diagmod {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  background-color: rgba(192, 0, 192, 0.25);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: baseline;
}
.mydialog .modifiers .diavar {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
}
.mydialog .modifiers .diavar .iteminput {
  height: auto;
}
.mydialog .modifiers .diapool {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: auto 15% 15%;
}
.mydialog .modifiers .diapool .iteminput {
  height: auto;
}
.mydialog .modifiers .diamod {
  padding: 3px;
  border: 2px solid maroon;
  border-radius: 5px;
  margin: 2px;
  display: grid;
}
