#chat-log .message.narrator-chat {
    padding    : 0px 8px 5px;
    border     : 1px solid maroon;
    color      : silver;
    text-align : center;
    line-height: normal;
    box-shadow : 0px 0px 10px inset black;
    text-shadow: 1px 1px 5px #000000;
}

#chat-log .message.narrator-chat.left {
    text-align: left;
}

.item.entry.skill {
    background-color: aquamarine;
}