<hr>
<h3>{{localize "local.item.notes"}}</h3>
<div class="tab">
    {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
    {{else}}
    <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
    {{/if}}
</div>
<script>
    $("input").focusin(function () {
        $(this).select();
    });
</script>
