<table class="criticalstrikestable">
    <tr class="tableheaderrow">
        <td class="roll">Roll</td>
        <td class="resultdescription">Result</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="Up to 5"
        data-result="Powerful but flat strike. +10 Damage, you fumble your weapon - roll on the appropriate table."
        data-woundtitle="null" data-condition="null" data-hits1="10" data-bleed1="0" data-action1="0"
        data-effect1="null" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">Up to 5</td>
        <td class="resultdescription">Powerful but flat strike. +10 Damage, you fumble your weapon - roll on the
            appropriate table.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="06-20"
        data-result="Glancing strike to the foe’s side. +6 Damage." data-woundtitle="null" data-condition="null"
        data-hits1="6" data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0"
        data-action2="0" data-effect2="null">
        <td class="roll">06-20</td>
        <td class="resultdescription">Glancing strike to the foe’s side. +6 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="21-35"
        data-result="A solid blow. +10 Damage." data-woundtitle="null" data-condition="null" data-hits1="10"
        data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="null">
        <td class="roll">21-35</td>
        <td class="resultdescription">A solid blow. +10 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="36-50"
        data-result="The foe definitely felt that. +13 Damage." data-woundtitle="null" data-condition="null"
        data-hits1="13" data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0"
        data-action2="0" data-effect2="null">
        <td class="roll">36-50</td>
        <td class="resultdescription">The foe definitely felt that. +13 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="51-65"
        data-result="Staggered by the strong strike. +12 Damage, -10 activities. Foe is Stunned."
        data-woundtitle="Strong Strike" data-condition="null" data-hits1="12" data-bleed1="0" data-action1="10"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">51-65</td>
        <td class="resultdescription">Staggered by the strong strike. +12 Damage, -10 activities. Foe is Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="66-79"
        data-result="Light wound. +10 Damage, and 3 Bleed. Foe is Stunned." data-woundtitle="Light Wound"
        data-condition="null" data-hits1="10" data-bleed1="3" data-action1="0" data-effect1="stun" data-hits2="0"
        data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">66-79</td>
        <td class="resultdescription">Light wound. +10 Damage, and 3 Bleed. Foe is Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="80-89"
        data-result="Hard blow to upper limbs. +15 Damage and 3 Bleed due to flesh wounds and bruises. -10 to all actions and Stunned."
        data-woundtitle="Upper Limb" data-condition="null" data-hits1="15" data-bleed1="3" data-action1="10"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">80-89</td>
        <td class="resultdescription">Hard blow to upper limbs. +15 Damage and 3 Bleed due to flesh wounds and bruises.
            -10 to all actions and Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="90-99"
        data-result="Fine strike to the lower limbs. +16 Damage, 5 Bleed. -20 to all actions and target is Stunned. If the target has four legs or more, only -10 to all actions."
        data-woundtitle="Lower Limb" data-condition="less than four legs" data-hits1="16" data-bleed1="5"
        data-action1="20" data-effect1="stun" data-hits2="16" data-bleed2="5" data-action2="10" data-effect2="stun">
        <td class="roll">90-99</td>
        <td class="resultdescription">Fine strike to the lower limbs. +16 Damage, 5 Bleed. -20 to all actions and target
            is Stunned. If the target has four legs or more, only -10 to all actions.</td>
    </tr>
    <tr class="tablerow rollable max-superficial" data-type="critical" data-table="7.8 Beast Critical Strikes"
        data-roll="100"
        data-result="A strike to the neck severs major blood vessels. +15 Damage, target is Stunned. Dies in 6 Rounds, but can act meanwhile. If the target has no neck or blood vessels, then +15 Damage, Stunned, and -20 to all actions."
        data-woundtitle="Neck Strike" data-condition="blood vessels in neck" data-hits1="15" data-bleed1="0"
        data-action1="0" data-effect1="stun, death[6]" data-hits2="15" data-bleed2="0" data-action2="20"
        data-effect2="stun">
        <td class="roll">100</td>
        <td class="resultdescription">A strike to the neck severs major blood vessels. +15 Damage, target is Stunned.
            Dies in 6 Rounds, but can act meanwhile. If the target has no neck or blood vessels, then +15 Damage,
            Stunned, and -20 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="101-106"
        data-result="Flat strike to the head. Target is knocked unconscious and +15 Damage. If the target doesn't have a distinguishable head or has head armor, +15 Damage and Stunned."
        data-woundtitle="Head Strike" data-condition="an unarmored head" data-hits1="15" data-bleed1="0"
        data-action1="0" data-effect1="unconscious" data-hits2="15" data-bleed2="0" data-action2="0"
        data-effect2="stun">
        <td class="roll">101-106</td>
        <td class="resultdescription">Flat strike to the head. Target is knocked unconscious and +15 Damage. If the
            target doesn't have a distinguishable head or has head armor, +15 Damage and Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="107-109"
        data-result="Strike crushes foot. Target is Prone, Stunned, takes +15 Damage and -40 to all actions. If the target has more than two feet or doesn't need any, then only -10 penalty."
        data-woundtitle="Crushed Foot" data-condition="more than two feet or doesn't need any" data-hits1="15"
        data-bleed1="0" data-action1="10" data-effect1="stun, prone" data-hits2="15" data-bleed2="0" data-action2="40"
        data-effect2="stun, prone">
        <td class="roll">107-109</td>
        <td class="resultdescription">Strike crushes foot. Target is Prone, Stunned, takes +15 Damage and -40 to all
            actions. If the target has more than two feet or doesn't need any, then only -10 penalty.</td>
    </tr>
    <tr class="tablerow rollable max-light" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="110"
        data-result="Strike to the groin. Target is doubled over in pain: +20 Damage and Stunned, -30 to all actions. Target is sterilized. If the target does not have a mammal reproductive system, then +20 Damage."
        data-woundtitle="Groin Strike" data-condition="a mammalian reproductive system" data-hits1="20" data-bleed1="0"
        data-action1="30" data-effect1="stun, crippled groin" data-hits2="20" data-bleed2="0" data-action2="0"
        data-effect2="null">
        <td class="roll">110</td>
        <td class="resultdescription">Strike to the groin. Target is doubled over in pain: +20 Damage and Stunned, -30
            to all actions. Target is sterilized. If the target does not have a mammal reproductive system, then +20
            Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="111-116"
        data-result="Strike across the eyes temporarily blinds target. Stunned and blinded for 6 Rounds, then is at -30 to all actions. If the target doesn't have or does not need eyes, only +20 Damage."
        data-woundtitle="Strike to Eyes" data-condition="eyes" data-hits1="20" data-bleed1="0" data-action1="30"
        data-effect1="stun, blind[6]" data-hits2="20" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">111-116</td>
        <td class="resultdescription">Strike across the eyes temporarily blinds target. Stunned and blinded for 6
            Rounds, then is at -30 to all actions. If the target doesn't have or does not need eyes, only +20 Damage.
        </td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="117-119"
        data-result="Strike severs an artery in lower limb. Target takes 8 Bleed and -20 to all actions. If the target does not have a circulatory system, then +20 Damage and Stunned."
        data-woundtitle="Lower Limb" data-condition="a circulatory system" data-hits1="0" data-bleed1="8"
        data-action1="20" data-effect1="null" data-hits2="20" data-bleed2="0" data-action2="0" data-effect2="stun">
        <td class="roll">117-119</td>
        <td class="resultdescription">Strike severs an artery in lower limb. Target takes 8 Bleed and -20 to all
            actions. If the target does not have a circulatory system, then +20 Damage and Stunned.</td>
    </tr>
    <tr class="tablerow rollable max-moderate" data-type="critical" data-table="7.8 Beast Critical Strikes"
        data-roll="120"
        data-result="Strike to the chest. If the target is not armored: heart destroyed, instant death, weapon stuck or trapped under the body for 3 Rounds. If the target is armored or does not have a chest: +30 Damage, Stunned, and the attacker fumbles their weapon."
        data-woundtitle="Chest Strike" data-condition="an unarmored chest" data-hits1="0" data-bleed1="0"
        data-action1="0" data-effect1="death" data-hits2="30" data-bleed2="0" data-action2="0" data-effect2="stun">
        <td class="roll">120</td>
        <td class="resultdescription">Strike to the chest. If the target is not armored: heart destroyed, instant death,
            weapon stuck or trapped under the body for 3 Rounds. If the target is armored or does not have a chest: +30
            Damage, Stunned, and the attacker fumbles their weapon.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="121-126"
        data-result="Strike to upper limb. Limb is severed, +15 Damage, 6 Bleed, and Stunned, limb useless. If the target does not have limbs, then +25 Damage."
        data-woundtitle="Upper Limb" data-condition="limbs" data-hits1="15" data-bleed1="6" data-action1="0"
        data-effect1="stun, crippled arm" data-hits2="25" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">121-126</td>
        <td class="resultdescription">Strike to upper limb. Limb is severed, +15 Damage, 6 Bleed, and Stunned, limb
            useless. If the target does not have limbs, then +25 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="127-129"
        data-result="Direct strike to the head fractures skull. Target takes +20 Damage and is Incapacitated. If the target does not have a skull or has rigid armor: +30 Damage, Stunned, and attacker fumbles their weapon."
        data-woundtitle="Skull Strike" data-condition="a skull without rigid armor" data-hits1="20" data-bleed1="0"
        data-action1="0" data-effect1="incapacitated" data-hits2="30" data-bleed2="0" data-action2="0"
        data-effect2="stun">
        <td class="roll">127-129</td>
        <td class="resultdescription">Direct strike to the head fractures skull. Target takes +20 Damage and is
            Incapacitated. If the target does not have a skull or has rigid armor: +30 Damage, Stunned, and attacker
            fumbles their weapon.</td>
    </tr>
    <tr class="tablerow rollable max-grievous" data-type="critical" data-table="7.8 Beast Critical Strikes"
        data-roll="130"
        data-result="Strike to the mouth. Target dies immediately, but the weapon is stuck in the bone for 3 Rounds. If the target does not have a mouth: +40 Damage, Stunned, and the attacker fumbles their weapon."
        data-woundtitle="Mouth Strike" data-condition="a mouth" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death" data-hits2="40" data-bleed2="0" data-action2="0" data-effect2="stun">
        <td class="roll">130</td>
        <td class="resultdescription">Strike to the mouth. Target dies immediately, but the weapon is stuck in the bone
            for 3 Rounds. If the target does not have a mouth: +40 Damage, Stunned, and the attacker fumbles their
            weapon.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="131-136"
        data-result="Powerful strike to the back, broken spine. Target is knocked Prone and paralyzed from the waist down. If the target doesn't have a spine, then is cut in half and dies instantly."
        data-woundtitle="Back Strike" data-condition="a spine" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="prone, crippled spine" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="death">
        <td class="roll">131-136</td>
        <td class="resultdescription">Powerful strike to the back, broken spine. Target is knocked Prone and paralyzed
            from the waist down. If the target doesn't have a spine, then is cut in half and dies instantly.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="137-140"
        data-result="Strike to the abdomen eviscerates target. Target is Stunned and dies in 6 Rounds, during which can act at -40. Attacker covered in bodily fluids."
        data-woundtitle="Eviscerated" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="40"
        data-effect1="stun, death[6]" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">137-140</td>
        <td class="resultdescription">Strike to the abdomen eviscerates target. Target is Stunned and dies in 6 Rounds,
            during which can act at -40. Attacker covered in bodily fluids.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="141-146"
        data-result="Vicious strike to the skull. Jaw shattered and target is knocked out, suffers +30 Damage and is in a coma. If the target does not have a distinguishable head, then +50 Damage."
        data-woundtitle="Skull Strike" data-condition="a head" data-hits1="30" data-bleed1="0" data-action1="0"
        data-effect1="unconscious, crippled jaw" data-hits2="50" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">141-146</td>
        <td class="resultdescription">Vicious strike to the skull. Jaw shattered and target is knocked out, suffers +30
            Damage and is in a coma. If the target does not have a distinguishable head, then +50 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.8 Beast Critical Strikes" data-roll="147-149"
        data-result="Strike through the eye. Target dies instantly and falls over the attacker, who is pinned underneath it for 1 Round. If the target was notably larger than the attacker, then the attacker takes 20 Damage and is pinned 5 Rounds."
        data-woundtitle="Eye Strike" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death, crippled eye" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">147-149</td>
        <td class="resultdescription">Strike through the eye. Target dies instantly and falls over the attacker, who is
            pinned underneath it for 1 Round. If the target was notably larger than the attacker, then the attacker
            takes 20 Damage and is pinned 5 Rounds.</td>
    </tr>
    <tr class="tablerow rollable max-lethal" data-type="critical" data-table="7.8 Beast Critical Strikes"
        data-roll="150"
        data-result="Brutal strike destroys a vital organ. Target dies instantly; the attacker gets a +20 bonus to intimidate any nearby foes next Round."
        data-woundtitle="Vital Organ" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death, crippled vitals" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">150</td>
        <td class="resultdescription">Brutal strike destroys a vital organ. Target dies instantly; the attacker gets a
            +20 bonus to intimidate any nearby foes next Round.</td>
    </tr>
</table>