{{log "Actor D120 Sheet: " this}}
{{log "Actor Data: " system}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">
    <header class="palladium-header">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'local.actor.name'}}" />
      </div>
      <div class="content" style="display: {{system.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          </div>
          {{#with system.headerinfo as |item|}}
          <div class="toprow">
            <div class="headinfo single" data-item-id="{{item.race._id}}" title="Race">
              <input class="valuefull iteminput" type="text" value="{{item.race.system.notes}}" data-dtype="String" data-name="system.notes" />
            </div>
            <div class="headinfo single" data-item-id="{{item.characterclass._id}}" title="Character Class">
              <input class="valuefull iteminput" type="text" value="{{item.characterclass.system.notes}}" data-dtype="String" data-name="system.notes" />
            </div>
            <div class="headinfo single" data-item-id="{{item.specificinfo._id}}" title="Specific Information">
              <input class="valuefull iteminput" type="text" value="{{item.specificinfo.system.notes}}" data-dtype="String" data-name="system.notes" />
            </div>
          </div>
          <div class="midrow">
            {{#if ../system.useD6Pool}}
            <div class="headinfo double" data-item-id="{{item.alignment._id}}">
              <span>{{item.alignment.system.label}}:</span>
              <input class="value iteminput" type="text" value="{{item.alignment.system.notes}}" data-dtype="String" data-name="system.notes" />
            </div>
            <div class="headinfo double" data-item-id="{{item.perception._id}}">
              <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.perception.name}}" data-roll="{{item.perception.system.value}}" data-type="skill"><span>Per:</span></label>
              <input class="value iteminput" type="text" value="{{item.perception.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.initiative._id}}">
              <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.initiative.name}}" data-roll="{{item.initiative.system.value}}" data-type="skill"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.dodge._id}}">
              <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.dodge.name}}" data-roll="{{item.dodge.system.value}}" data-type="skill"><span>Dodge:</span></label>
              <input class="value iteminput" type="text" value="{{item.dodge.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.xp._id}}">
              <span>{{item.xp.system.label}}:</span>
              <input class="value iteminput" type="text" value="{{item.xp.system.value}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.level._id}}">
              <span>{{item.level.system.label}}:</span>
              <input class="value iteminput" type="text" value="{{item.level.system.value}}" data-dtype="Number" data-name="system.formula" />
            </div>
            {{else if ../system.useD20}}
            <div class="headinfo triple item" data-item-id="{{item.hitpoints._id}}">
              {{item.hitpoints.system.abbr}}
              :<input class="value iteminput pool" type="text" value="{{item.hitpoints.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.hitpoints.system.abbr}}" />
              <span>/ {{item.hitpoints.system.max}}</span>
            </div>
            <div class="headinfo double" data-item-id="{{item.apr._id}}">
              <label class="" data-name="{{item.apr.name}}"><span>APR:</span></label>
              <input class="value iteminput" type="text" value="{{item.apr.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.initiative._id}}">
              <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.initiative.name}}" data-roll="{{item.initiative.system.value}}" data-type="dodge"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.mpa._id}}">
              <label class="" data-name="{{item.mpa.name}}"><span>MPA:</span></label>
              <input class="value iteminput" type="text" value="{{numberFormat item.mpa.system.moddedvalue decimals=1 sign=false}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo move item" data-item-id="{{item.pace._id}}">
              {{item.pace.system.label}}
              <select class="value select iteminput" data-name="system.label">
                {{#select item.pace.system.label}}
                {{#each item.pace.system.entries as |entry e|}}
                <option value="{{entry.label}}">{{entry.label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="headinfo double item" data-item-id="{{item.mr._id}}">
              {{item.mr.system.abbr}}
              :<input class="value iteminput pool" type="text" value="{{numberFormat item.mr.system.value decimals=1 sign=false}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.mr.system.abbr}}" />
            </div>
            {{else}}
            <div class="headinfo double" data-item-id="{{item.alignment._id}}">
              <span>{{item.alignment.system.label}}:</span>
              <input class="value iteminput" type="text" value="{{item.alignment.system.notes}}" data-dtype="String" data-name="system.notes" />
            </div>
            <div class="headinfo double" data-item-id="{{item.perception._id}}">
              <label class="rollable" data-item-id="{{item.perception._id}}" data-name="{{item.perception.name}}" data-roll="{{item.perception.system.value}}" data-type="dodge"><span>Per:</span></label>
              <input class="value iteminput" type="text" value="{{item.perception.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.initiative._id}}">
              <label class="rollable" data-item-id="{{item.initiative._id}}" data-name="{{item.initiative.name}}" data-roll="{{item.initiative.system.value}}" data-type="dodge"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.dodge._id}}">
              <label class="rollable" data-item-id="{{item.dodge._id}}" data-name="{{item.dodge.name}}" data-roll="{{item.dodge.system.value}}" data-type="dodge"><span>Dodge:</span></label>
              <input class="value iteminput" type="text" value="{{item.dodge.system.moddedvalue}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.xp._id}}">
              <span>{{item.xp.system.label}}:</span>
              <input class="value iteminput" type="text" value="{{item.xp.system.value}}" data-dtype="Number" data-name="system.formula" />
            </div>
            <div class="headinfo double" data-item-id="{{item.level._id}}">
              <span>{{item.level.system.label}}:</span>
              <input class="value iteminput" type="text" value="{{item.level.system.value}}" data-dtype="Number" data-name="system.formula" />
            </div>
            {{/if}}
          </div>
          <div class="bottomrow">
            <div class="headinfo single" data-item-id="{{item.additionalinfo._id}}" title="Additional Information: {{item.additionalinfo.system.notes}}">
              <input class="valuefull iteminput" type="text" value="{{item.additionalinfo.system.notes}}" data-dtype="String" data-name="system.notes" />
            </div>
            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="system.adminMode" {{checked ../system.adminMode}} data-dtype="Boolean" />
            </div>
          </div>
          {{/with}}
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "local.tabs.main"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "local.tabs.combat"}}</a>
        <a class="tabtitle" data-tab="skills">{{localize "local.tabs.skills"}}</a>
        {{#if system.adminMode}}
        <a class="tabtitle" data-tab="items">{{localize "local.tabs.items"}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize "local.tabs.scripts.title"}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="spells">
            <label>{{localize "local.sections.primaryattributes"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.spells}}">

            {{#if system.useSineNomine}}
            <div class="threespan item-list">
              {{#each system.primaryattributes as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{~item.name}} - {{item.system.moddedvalue}}</label>
                <label>[{{numberFormat item.system.value decimals=0 sign=true}}]</label>
                {{#if ../system.use2D6}}
                <label></label>
                {{else}}
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.moddedvalue}}" data-type="skill"> <i class="fas fa-dice-d20"></i> </a>
                {{/if}}
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              {{#each system.primaryattributes as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}}: {{item.system.value}} </label>
                <label>[{{numberFormat item.system.moddedvalue decimals=0 sign=false}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="skill"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/if}}

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.primods"}}</label>
              </div>
              {{#each system.primods as |item|}}
              {{#unless item.system.alwaysOn}}
              <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}} {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader collapsible {{#if (eq system.sections.traits " none")}}collapsed{{/if}}" data-section="traits">
            <label>{{localize "local.sections.d120.traits"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.traits}}">
            <div class="twospan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.advantages"}}</label>
              </div>
              {{#each system.advantages as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
              <div class="header">
                <label>{{localize "local.sections.d120.disadvantages"}}</label>
              </div>
              {{#each system.disadvantages as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
              <div class="header">
                <label>{{localize "local.sections.d120.perks"}}</label>
              </div>
              {{#each system.perks as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
              <div class="header">
                <label>{{localize "local.sections.d120.quirks"}}</label>
              </div>
              {{#each system.quirks as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="notes">
            <label>{{localize "local.sections.d120.notes"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.notes}}">
            <div class="nospan item-list">
              <textarea class="biography" name="system.biography">{{system.biography}}</textarea>
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="spellLores">
            <label>{{localize "local.sections.pools"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.spellLores}}">

            <div class="fourspan item-list">
              {{#each system.pools as |item|}}
              <div class="item poolstyle {{item.system.group}}" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/each}}
            </div>

            <div class="fourspan item-list">
              <div class="header">
                <label>{{localize "local.sections.variables"}}</label>
              </div>
              {{#each system.variables as |item|}}
              <div class="item rankvariable {{item.system.group}}" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{#select item.system.label}}
                  {{#each item.system.entries as |entry e|}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
              </div>
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize "local.sections.d120.defences"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.defences}}">

            {{#if system.useAlternity}}
            <div class="threespan item-list">
              {{#each system.defences as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} - {{item.system.value}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist">[{{numberFormat item.system.stepvalue sign=true}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else if system.useSineNomine}}
            <div class="threespan item-list">
              {{#each system.defences as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.dodges"}}</label>
              </div>
              {{#each system.dodges as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.parrys"}}</label>
              </div>
              {{#each system.parrys as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/if}}

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.blocks"}}</label>
              </div>
              {{#each system.blocks as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="defence" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.defenceVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{#select item.system.label}}
                  {{#each item.system.entries as |entry e|}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.defencemods"}}</label>
              </div>
{{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
              {{#each system.defencemods as |item|}}
              {{#unless item.system.alwaysOn}}
              <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="attacks">
            <label>{{localize "local.sections.attacks"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.attacks}}">

            <div class="twospan item-list">
              {{#each system.attacks as |item|}}
              <div class="item attackentry {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable">{{item.name}}</label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="attack" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.damage}}" data-type="damage">{{item.system.damage}}</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="attack"> <i class="fas fa-dice-d20"></i></a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.attackVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{#select item.system.label}}
                  {{#each item.system.entries as |entry e|}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.attackmods"}}</label>
              </div>
              {{#each system.attackdamagemods as |item|}}
              {{#unless item.system.alwaysOn}}
              <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize "local.sections.d120.rollables"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.skills}}">

            {{#if system.useAlternity}}
            <div class="twospan item-list">
              {{#each system.allskills as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} - {{item.system.value}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="skill" data-type="modlist">[{{numberFormat item.system.stepvalue sign=true}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.checks"}}</label>
              </div>
              {{#each system.checks as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.moddedformula}}: {{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label></label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.moddedformula}}" data-type="{{item.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.skills"}}</label>
              </div>
              {{#each system.skills as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}">
                  <i class="fas fa-dice-d20"></i>
                </a>
              </div>
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.spells"}}</label>
              </div>
              {{#each system.spells as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}" data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-type="{{item.system.category}}">
                  <i class="fas fa-dice-d20"></i>
                </a>
              </div>
              {{/each}}
            </div>
            {{/if}}
            <div class="fourspan item-list">
              {{#each system.skillVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{#select item.system.label}}
                  {{#each item.system.entries as |entry e|}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.checkmods"}}</label>
              </div>
{{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
              {{#each system.checkSkillSpellMods as |item|}}
              {{#unless item.system.alwaysOn}}
              <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/unless}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.techniques"}}</label>
              </div>
              {{#each system.techniques as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label></label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="{{item.system.category}}"> <i class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.spellVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{#select item.system.label}}
                  {{#each item.system.entries as |entry e|}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d120.rms"}}</label>
              </div>
              {{#each system.rms as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}" data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}" data-type="modlist">[{{numberFormat item.system.moddedvalue decimals=0}}]</label>
                <label></label>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- ITEM CREATION --}}
        <div class="section">
          <div class="content" style="display: block">
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.itemcreation"}}</label>
              </div>
              {{#each system.allitemstemp as |item|}}
              <div class="entry {{#if item.filtered}}inEffect{{/if}}">
                <label class="filter" data-type='{{item.name}}'>{{item.localname}}</label>
                <span></span>
                <a class="item-create" data-type='{{item.name}}'><i class="fas fa-plus"></i></a>
              </div>
              {{/each}}
            </div>

          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader">
            <label>{{localize "local.sections.itemlist"}}</label>
          </div>
          <div class="content" style="display: block">
            <div class="nospan owneditems item-list">
              {{#each filtereditems as |item|}}

              {{#if (eq item.type "Primary-Attribute")}}
              <div class="item owneditem ability" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <label class="value">{{item.system.attr}}</label>
              </div>
              {{else if (eq item.type "Modifier")}}
              <div class="item owneditem mod{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type item-toggle">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.condition}} data-dtype="Boolean" data-name="system.condition" />
                  <span> Cond</span>
                </div>
                {{#unless (or item.system.once item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.alwaysOn}} data-dtype="Boolean" data-name="system.alwaysOn" />
                  <span> Perm</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.once)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean" data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean" data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Variable")}}
              <div class="item owneditem var" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <select class="value select iteminput" data-name="system.label">
                  {{#select item.system.label}}
                  {{#each item.system.entries as |entry e|}}
                  <option class="option" value="{{entry.label}}">{{entry.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                {{#unless item.system.once}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean" data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless item.system.temporary}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean" data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Trait")}}
              <div class="item owneditem trt" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <label class="snippet">{{item.system.notes}}</label>
              </div>
              {{else if (eq item.type "Pool")}}
              <div class="item owneditem pool" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.minForm" value="{{item.system.minForm}}" />
                <input class="value iteminput" type="number" data-dtype="Number" data-name="system.value" value="{{item.system.value}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.maxForm" value="{{item.system.maxForm}}" />
              </div>
              {{else if (or (eq item.type "Melee-Attack")(eq item.type "Ranged-Attack"))}}
              <div class="item owneditem attack" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if (eq item.type "Rollable")}}
              <div class="item owneditem roll" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if item.system.formula}}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else}} {{! Everything else }}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group" value="{{item.system.group}}" />
                <label class="value">{{item.system.value}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize "local.tabs.scripts.createT"}}">
                <i class="fas fa-plus"></i> {{localize "local.tabs.scripts.create"}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize "local.tabs.scripts.exportT"}}">
                <i class="fas fa-minus"></i> {{localize "local.tabs.scripts.export"}}
              </a>
            </div>
            <div>
              <a class="item-control importPAL" title="Import stats in Palladium format">
                <i class="fas fa-plus"></i> Import Palladium Format
              </a>
            </div>
          </div>
          <textarea rows="24" name="system.itemscript">{{{system.itemscript}}}</textarea>
        </div>

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
  </script>
</form>
