{{debug "Modifiers: " this}}
<form class="mydialog">
    {{! this is an attack - needs to expand for other rollables }}
    <div class="rollables">
        {{! the attack - this needs to account for different rulesets }}
        {{#if (contains rollableData.type 'Attack')}}
        {{#if (eq rollableData.system.chartype "CharacterD100")}}
        <div class="item entry {{#if (eq rollableData.type 'Melee-Attack')}}melee{{else if (contains rollableData.name " Ranged") }}ranged{{else}}spell{{/if}} {{rollableData.system.group}}" data-item-id="{{rollableData._id}}" title="{{rollableData.system.notes}}">
            <label class="open-journal draggable" data-table="{{rollableData.system.damage}}">{{rollableData.name}}</label>
            <label class="rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-modtype="attack" data-type="modlist">[{{~rollableData.system.moddedvalue~}}]</label>
            <a class="rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-type="attack">
                <i class="fas fa-dice-d20"></i></a>
        </div>
        {{else}}
        <div class="item attackitem {{#if (eq rollableData.type 'Melee-Attack')}}melee{{else if (contains rollableData.name " Ranged") }}ranged{{else}}spell{{/if}} {{rollableData.system.group}}" data-item-id="{{rollableData._id}}" title="{{rollableData.system.notes}}">
            <label class="attackname">{{rollableData.name}}</label>
            <label class="rollable skill" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{numberFormat rollableData.system.value decimals=0}}" data-type="attack">
                Eff Skill: [{{numberFormat rollableData.system.moddedvalue decimals=0}}]
            </label>
            <label class="rollable damage" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.damage}}" data-type="damage">
                Dmg: {{rollableData.system.damage}} {{rollableData.system.damageType}}
            </label>
        </div>
        {{/if}}
        {{!-- 
        Primary Attribute modifiers are already calculated and the new 
        user-defined stat modifier system stores the stat mod in moddedvalue.
        If you want to make a roll based on the value of a Primary but 
        modifiable, use something else 
        --}}
        {{else if (eq rollableData.type 'Primary-Attribute')}}
        <div class="item entry {{rollableData.system.group}}" data-item-id="{{rollableData._id}}" title="{{rollableData.system.notes}}">
            <label> {{rollableData.name}} </label>
            <label>[{{rollableData.system.value}}]</label>
            <a class="rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-type="skill">
                <i class="fas fa-dice-d20"></i>
            </a>
        </div>
        {{else if (eq rollableData.type 'Defence')}}
        <div class="item entry {{rollableData.system.group}}" data-item-id="{{rollableData._id}}" title="{{rollableData.system.notes}}">
            <label> {{rollableData.name}} </label>
            <label class="name rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-modtype="defence" data-type="modlist">[{{rollableData.system.moddedvalue}}]</label>
            <a class="rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-type="{{rollableData.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
        </div>
        {{else if (eq rollableData.type 'Rollable')}}
        {{#if (and (eq rollableData.system.chartype "CharacterD120") (eq rollableData.system.category "technique"))}}
        <div class="item entry {{rollableData.system.group}}" data-item-id="{{rollableData._id}}" title="{{rollableData.system.notes}}">
            <label class="name rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.notes}}" data-type="technique"> {{rollableData.name}} </label>
            <label></label>
            <label></label>
        </div>
        {{else}}
        <div class="item entry {{rollableData.system.group}}" data-item-id="{{rollableData._id}}" title="{{rollableData.system.notes}}">
            <label> {{rollableData.name}} </label>
            <label class="name rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-modtype="{{rollableData.system.category}}" data-type="modlist">[{{rollableData.system.moddedvalue}}]</label>
            <a class="rollable" data-item-id="{{rollableData._id}}" data-name="{{rollableData.name}}" data-roll="{{rollableData.system.value}}" data-type="{{rollableData.system.category}}"> <i class="fas fa-dice-d20"></i> </a>
        </div>
        {{/if}}
        {{/if}}
    </div>
    <hr>
    <div class="modifiers">
        {{! the global modifier }}
        <div class="diagmod">
            {{~localize 'local.actor.gmod.name'~}}
            :<input class="gmod iteminput" type="number" value="{{actor.system.gmod.value}}" data-dtype="Number" data-name="system.gmod.value" data-attack-id="{{rollableData._id}}" />
        </div>
        {{#each uniquemods as |item|}}
        {{#unless item.system.alwaysOn}}
        {{! do not display permanent modifiers }}
            {{#if (eq item.type 'Modifier')}}
            {{! modifiers }}
            <div class="item diamod{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-toggle" data-attack-id="{{../rollableData._id}}">{{item.name}}</label>
            </div>
            {{else if (eq item.type 'Variable')}}
            {{! variables }}
            <div class="item diavar" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename">{{item.name}}</label>
                <select class="variable iteminput" data-name="system.label" data-attack-id="{{../rollableData._id}}">
                    {{#select item.system.label}}
                    {{#each item.system.entries as |entry e|}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            {{else if (eq item.type 'Pool')}}
            {{! pools }}
            <div class="item diapool" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname">{{item.name}}:</label>
                <input class="pool iteminput" type="number" value="{{item.system.value}}" data-dtype="Number" data-name="system.value" data-abbr="{{item.system.abbr}}" data-attack-id="{{../rollableData._id}}" />
                <span>[{{item.system.moddedvalue}}]/{{item.system.max}}</span>
            </div>
            {{/if}}
        {{/unless}}
        {{/each}}
    </div>
</form>
