{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "local.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.category"}}</label>
            <select name="system.category">
                {{#select item.system.category}}
                <option value="dodge">{{modeSpecificText.dodge}}</option>
                {{#unless (eq mode "d6")}}<option value="parry">{{modeSpecificText.parry}}</option>{{/unless}}
                <option value="block">{{modeSpecificText.block}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.formula"}}</label>
            <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" {{#if (eq
                mode "vsd" )}}disabled{{/if}} />
        </div>
        {{#if (eq mode "3d6")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.weight"}}</label>
            <input type="text" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
        </div>
        {{/if}}
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=system}}
    </section>
</form>