{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Power.category"}}</label>
            <input type="text" name="system.category" value="{{item.system.category}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Power.ranks"}}</label>
            <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Power.group"}}</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Power.ppcost"}}</label>
            <input type="number" name="system.ppcost" value="{{item.system.ppcost}}" data-dtype="Number" />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=system}}
    </section>
</form>