{{debug "this:" this}}
<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "local.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.formula}}</label>
            <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" />
        </div>
        {{#if (eq mode "d100")}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <input type="text" name="system.damageType" value="{{item.system.damageType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="system.armourDiv" value="{{item.system.armourDiv}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.minST}}</label>
            <select name="system.minST">
                {{#select item.system.minST}}
                <option value="std">{{localize "local.item.Ranged-Attack.d100.std"}}</option>
                <option value="oe">{{localize "local.item.Ranged-Attack.d100.oe"}}</option>
                <option value="oeh">{{localize "local.item.Ranged-Attack.d100.oeh"}}</option>
                <option value="oel">{{localize "local.item.Ranged-Attack.d100.oel"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.d100.rof"}}</label>
            <input type="text" name="system.rof" value="{{item.system.rof}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.d100.shots"}}</label>
            <input type="text" name="system.shots" value="{{item.system.shots}}" data-dtype="String" />
        </div>
        {{else}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <input type="text" name="system.damageType" value="{{item.system.damageType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="system.armourDiv" value="{{item.system.armourDiv}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.minST}}</label>
            <input type="text" name="system.minST" value="{{item.system.minST}}" data-dtype="String" />
        </div>
        {{/if}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.accuracy}}</label>
            <input type="text" name="system.accuracy" value="{{item.system.accuracy}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.range"}}</label>
            <input type="text" name="system.range" value="{{item.system.range}}" data-dtype="String" />
        </div>
        {{#if (eq mode "3d6")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.3d6.rof"}}</label>
            <input type="text" name="system.rof" value="{{item.system.rof}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.3d6.shots"}}</label>
            <input type="text" name="system.shots" value="{{item.system.shots}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.3d6.bulk"}}</label>
            <input type="text" name="system.bulk" value="{{item.system.bulk}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Ranged-Attack.3d6.recoil"}}</label>
            <input type="text" name="system.recoil" value="{{item.system.recoil}}" data-dtype="String" />
        </div>
        {{/if}}
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=system}}
    </section>
</form>