{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "local.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.category"}}</label>
            <select name="system.category">
                {{#select item.system.category}}
                {{#unless (or (eq mode "bbf") (eq mode "d6"))}}<option value="check">{{modeSpecificText.check}}</option>{{/unless}}
                <option value="skill">{{modeSpecificText.skill}}</option>
                {{#unless (or (eq mode "bbf") (eq mode "d6"))}}<option value="spell">{{modeSpecificText.spell}}</option>{{/unless}}
                <option value="technique">{{modeSpecificText.technique}}</option>
                <option value="rms">{{modeSpecificText.rms}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.formula"}}</label>
            <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" {{#if (eq mode "vsd" )}}disabled{{/if}} />
        </div>
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=system}}
    </section>
</form>