{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "local.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Hit-Location.d100.bleeding"}}</label>
            <input type="text" name="system.bleed" value="{{item.system.bleed}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Hit-Location.d100.penalty"}}</label>
            <input type="text" name="system.penalty" value="{{item.system.penalty}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Hit-Location.d100.severity"}}</label>
            <select name="system.severity">
                {{#select item.system.severity}}
                <option value="na">{{localize "local.item.Hit-Location.d100.na"}}</option>
                <option value="minor">{{localize "local.item.Hit-Location.d100.minor"}}</option>
                <option value="serious">{{localize "local.item.Hit-Location.d100.serious"}}</option>
                <option value="crippling">{{localize "local.item.Hit-Location.d100.crippling"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Hit-Location.d100.treatment"}}</label>
            <select name="system.treatment">
                {{#select item.system.treatment}}
                <option value="none">{{localize "local.item.Hit-Location.d100.none"}}</option>
                <option value="critical">{{localize "local.item.Hit-Location.d100.critical"}}</option>
                <option value="failure">{{localize "local.item.Hit-Location.d100.failure"}}</option>
                <option value="partial">{{localize "local.item.Hit-Location.d100.partial"}}</option>
                <option value="success">{{localize "local.item.Hit-Location.d100.success"}}</option>
                <option value="outstanding">{{localize "local.item.Hit-Location.d100.outstanding"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Hit-Location.d100.lingering"}}</label>
            <input type="checkbox" name="system.lingering" {{checked item.system.lingering}} data-dtype="Boolean" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Hit-Location.d100.dlth"}}</label>
            <input type="text" name="system.dlth" value="{{item.system.dlth}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=system}}
    </section>
</form>